<% var title = "关于" %>
<%- include header.html %>
<div>
    <div style="margin-top:3cm" class = "row">
        <div class = "col-sm-1"></div>
        <div class = "col-sm-10">
            <table class =  "table table-hover">
                <thead>
                    <tr><th>关于我</th></tr>
                </thead>
                <tbody >
                    <tr><td>&nbsp</td> </tr>
                    <tr>
                        <td>我的github:<a href = "https://github.com/tangmengzheng">www.github.com/tangmengzheng</a></td>
                    </tr>
                    <tr>
                        <td>我的邮箱:<a href = "mail:tang_mengzheng@sina.com">tang_mengzheng@sina.com</a></td>
                    </tr>
                    <tr>
                        <td>我的qq:<strong>1254074275<strong></td>
                    </tr>
                    <tr><td>&nbsp</td> </tr>
                </tbody>
            </table>
        </div>
        <div class = "col-sm-1"></div>
    </div>
</div>
<%- include footer.html %>
