<%- include header.html %>
<div>
    <div style="margin-top:3cm" class = "row">
        <div class = "col-sm-1"></div>
        <div class = "col-sm-10">
            <table class =  "table table-hover">
                <thead>
                    <tr><th>关于我</th></tr>
                </thead>
                <tbody >
                    <tr><td>&nbsp</td> </tr>
                    <tr>
                        <td><a href = "https://github.com/tangmeng">我的github</a></td>
                    </tr>
                    <tr>
                        <td><a href = "http://weibo.com/u/1931580742/home">我的新浪微博客</a></td>
                    </tr>
                    <tr><td>&nbsp</td> </tr>
                </tbody>
            </table>
        </div>
        <div class = "col-sm-1"></div>
    </div>
</div>
<%- include footer.html %>
