<%- include  header.html %>

<script>
    function validate () {
        var comment = document.getElementById('comment').value;
        if (!checkUser()) {
            return false;
        }
        if (!comment || !comment.length) {
            alert("coment cant be null");
            return false;
        }
        return true;
    }
    function checkUser () {
        var user_start = document.cookie.indexOf('user=');
        if (user_start == -1) {
            alert("please login first");
            return false;
        }
        return true;
    }

</script>

<div>
    <% if (user && user == article.u_name) { %>
        <div align = "right">
            <a href = "/edit/<%= article.a_id %>" style = "margin:10px">编辑</a>
            <a href = "/delete/article/<%= article.a_id %>" style = "margin:10px">删除</a>
        </div>
    <% } %>

    <div>
        <h3 align="center" style = "margin-top:1cm"><%= article.a_title %></h3>
    </div>
    <div style="margin-top:1cm" class = "">
        <article class = "">
            <%- article.a_content %>
        </article>
    </div>


    <div align = "right" style = "height:50px;margin-top:30px">
        <span> 阅读（</span><%= article.a_read %><span>）</span>
        <a id= "favour" href = "">赞</a>（ <span id ="favour_amount"><%= article.a_favour %></span> ）
    </div>

    <script type = "text/javascript">
        var url = "/favour/"+ <%=  article.a_id %> + "?favour_amount="+<%= article.a_favour %>;
        $(document).ready(function () {
            $("#favour").click(function () {
                if (!checkUser()) {
                    return false;
                }
                $("#favour_amount").load(url);
                return false;
            });
        });
    </script>

    <hr/>

    <div>
        <form class = "form">
            <textarea id = "comment" name = "comment" rows = 6 style = "width:100%;" maxlength = "512" placeholder = "发表评论" oninput = "checkUser()"></textarea>
            <button class = "btn" type = "submit" value = "提交">提交 </button>
        </form>
    </div>
    <script type = "text/javascript">
        url = "/post/comment/<%= article.a_id %>";
        $("document").ready(
                $.post(url, null, function (data, statu) {
                    if (!res) {
                    }
                }
        )

    </script>

    <hr/>

    <% if (comments) { %>
        <div>
            <%  for (var key in comments) { %>
                <div>
                    <p class = ""><a herf = "#"> <%= comments[key].u_name %></a> </p>
                    <article class = "" style = "text-indent:2em"><%= comments[key].c_content %> </article>
                </div>
                <hr/>
            <% } %>
        </div>
    <% } %>
</div>
<% include footer.html %>
