<%- include header.html  %> 
<div>
    <h2 align="center">Blogs</h2>
    <div style="margin-top:1cm">
		<table class = "table table-hover">
            <%  for (var article in articles) { 
                var  date = new Date(articles[article].create_time); %>
			<tbody>
				<tr>
					<td class = "col-sm-10"><a href = "/article/<%= articles[article].a_id %>" ><%= articles[article].a_title %> </a></td>
                    <td align = "right"><%= date.getFullYear() %>.<%= date.getMonth() %>.<%= date.getDate() %></td>
				</tr>
                <tr></tr>
			<tbody>
            <% } %>
		</table>
        <div>
            <span> 阅读（</span><%= article.a_read %><span>）</span>
            <span><a href ='/favour/<%= article.a_id %>'> 赞</a> （</span><%= article.a_favour %><span> ）</span>
        </div>

        <% if (comments) { %>
            <div>
                <%  for (var key in comments) { %>
                    <hr/>
                    <div>
                        <p class = ""> <%= comments[key].u_name] %> </p>
                        <p class = ""><%= comments[key].c_content %> </p>
                    </div>
                <% } %>
            </div>
        <% } %>
        <div>
            <form class = "form" action ="/post/comments" method = "POST">
                <textarea  name = "content">

                </textarea>
                <button type = "submit" value = "提交">提交 </button>
            </form>
        </div>
    <div>
</div>
<%- include footer.html %>
