<!DOCTYPE HTML>
<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="content-type">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row" style="margin:2cm;padding-top:50px;padding-bottom:2cm">
                <div class="col-sm-4"></div>
                <form class="form-horizontal col-sm-6" method = "POST" action="/login"> 
					<div class = "form-group" >
						<div class = "col-sm-3"></div>
						<h1 class = "col-sm-6">登&nbsp&nbsp&nbsp&nbsp录</h1>
					</div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 用户名:</label>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" name ="name"  id ="name"></input>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"> 密&nbsp&nbsp&nbsp&nbsp码:</label>
                        <div class="col-sm-6">
                            <input class="form-control" type = "password" id ="password" name ="password"></input>
                        </div>
                    </div>
                    <div class="form-goup" style = "margin-top:1cm">
                        <div class="col-sm-2"></div>
                        <a type = "button " class = "btn btn-success col-sm-2" value=" 注&nbsp&nbsp册" href = "/sign">注&nbsp&nbsp&nbsp&nbsp册</a>
						<div class = "col-sm-2"></div>
                        <button type="submit" class = "btn btn-success col-sm-2" value=" 登&nbsp&nbsp录"/>登&nbsp&nbsp&nbsp&nbsp录</button>
                    </div>
                </form>

            </div> 
        </div>
    </body>
</html>
